
@{
    ViewBag.Title = "Index";
}
@{
    var order = Model as List<SmartRental.Models.Order>;
}


<style>
    #mytable {
        margin: 0 auto;
        text-align: center;
    }

        #mytable td, #mytable th {
            color: #666;
            height: 25px;
            line-height: 25px;
        }

        #mytable thead th {
            background-color: #CCE8EB;
            width: 100px;
        }

        /* #mytable tr:nth-child(odd) {
                background: #fff;
            }

            #mytable tr:nth-child(even) {
                background: #F5FAFA;
            }*/
        #mytable tbody td {
            height: 25px;
            line-height: 25px;
        }


    #df {
        pointer-events: none;
    }

    #dfd {
        pointer-events: none;
    }

    #ab {
        cursor: pointer;
        padding: 5px;
        width: 10%;
        text-align: center;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        font-size: 14px;
    }

    #mytable th {
        text-align: center;
    }
</style>

<h2 style="margin-top:-30px;margin-left:550px;font-weight:900">酒店订单详情</h2>
<form action="/GHotelHome/HotelOrder" method="post">

    <label style="font-size:16px;">类型</label>
    <select id="ab" name="ab" class="select2-results__option--highlighted">
        @if (Session["order"] != null && @Session["se"] != null)
        {
            <option value="@Session["se"]" selected="selected">@Session["se"]</option>
        }
        else
        {
            <option value="所有订单" selected="selected">请选择</option>
        }

        <option value="所有订单">所有订单</option>
        <option value="订单编号">订单编号</option>
        <option value="订单状态">订单状态</option>
        <option value="房间名">房型</option>

    </select>&nbsp;&nbsp;
    @if (Session["order"] != null)
    {
        <input type="text" id="text1" name="text1" style="height:30px;" value="@Session["ts"]" />
    }
    else
    {

        <input type="text" id="text1" style="height:30px;" name="text1" />
    }

    <input type="submit" value="搜索" class="btn btn-primary" />
</form>
<form action="/GHotelHome/HotelOrder" method="post">
    <input type="submit" style="float:right;margin-right:10px;margin-top:-30px;" name="OrderState" value="今日订单" class="btn btn-primary" />
</form>
<form action="/GHotelHome/HotelOrder" method="post">
    <input type="submit" style="float:right;margin-right:10px;margin-top:-30px;" name="OrderState" value="今日到店" class="btn btn-primary" />
</form>
<form action="/GHotelHome/HotelOrder" method="post">
  
    <input type="submit" style="float:right;margin-right:10px;margin-top:-30px;" name="OrderState" value="待办事项" class="btn btn-primary" />
</form>
    <table xss=removed class="table table-striped table-bordered table-hover" style="margin-top:5px" id="mytable">
        <thead>
            <tr>
                <th>订单编号</th>
                <th>房型</th>
                <th>入住/离店</th>
                <th>房间数量</th>
                <th>客户姓名</th>
                <th style="width:80px">订单时间</th>
                <th>订单状态</th>
                <th>实付金额</th>
                <th>订单管理</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in order)
            {
                <tr>
                    <td>@item.OrderNumber</td>
                    <td>@item.RoomMessage.RoomName</td>

                    <td>
                        入 @item.ArrivalDate.Value.ToShortDateString()<br />
                        离 @item.LeaveTime.Value.ToShortDateString()
                    </td>

                    <td>@item.Ordercount 间</td>
                    <td>@item.ClientName</td>
                    <td>@item.Ordertime</td>
                    <td>@item.OrderState</td>

                    <td>@item.ActualPrice</td>
                    <td>
                        <a href="/GHotelHome/HotelOrderdtld?id=@item.OrderID">查看详情</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var pageindex = (int)ViewBag.pageindex;
        var pagecount = (int)ViewBag.pagecount;
        var pagesize = (int)ViewBag.pagesize;

    }



    <span>第 @pageindex 页</span>
    <span>总 @pagecount 页</span>
    @if (pageindex <= 1)
    {
        @Html.ActionLink("上一页", "HotelOrder", null, new { disabled = "disabled", id = "df", @class = "btn btn-primary" })
    }
    else
    {

        @Html.ActionLink("上一页", "HotelOrder", new { pageindex = (pageindex - 1), pagesize = pagesize }, new { @class = "btn btn-primary" })
    }
    @if (pageindex >= pagecount)
    {
        @Html.ActionLink("下一页", "HotelOrder", null, new { disabled = "disabled", id = "dfd", @class = "btn btn-primary" })
    }
    else
    {

        @Html.ActionLink("下一页", "HotelOrder", new { pageindex = (pageindex + 1), pagesize = pagesize }, new { @class = "btn btn-primary" })
    }
    @*<select name="counts" id="counts">
            @for (int i = 5; i <= 20; i += 5)
            {
                if (@i == countss)
                {
                    <option value=@i selected="selected">@i</option>
                }
                else
                {
                    <option value=@i>@i</option>
                }
            }
        </select>*@


    @section scripts{
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script type="text/javascript">
        @*$("#counts").change(function () {
            window.location.href ="/GHotelHome/HotelOrder?pageindex=@pageindex&&pagesize="+$("#counts").val();
        })*@

        </script>
    }

