@{
    ViewBag.Title = "Home Page";
}

@*@using SmartRental.Models;
    @{
        RoomMessage roomMessage = Model as RoomMessage;
    }*@
<style>
    li {
        display: block;
        float: left;
        list-style: none;
        margin-right: 150px;
        margin-left: 50px
    }
</style>
<form action="/Home/Index" method="post" style="width:100%">
    <h2>添加房间</h2>
    <div>
        <ul style="width:100%">
            <li>
                <label>房间名称：</label>

                <input type="text" class="form-control" name="RoomName" style="width:300px" placeholder="请输入房间名称">
            </li>
            <li>
                <label>房间布局：</label>

                <input type="text" name="RoomLayout" class="form-control" style="width:300px" placeholder="请输入房间布局">
            </li>
        </ul>
        <ul style="width:100%">
            <li>
                <label>床型：</label>
                <select name="MattresID" class="form-control" style="height:35px;width:300px">
                    @foreach (var item in ViewBag.Mattres)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </li>
            <li>
                <label>房间设施：</label>
                <br>
                <label class="radio-inline">
                    <input type="checkbox" name="RoomFacility[]" value="热水">热水
                </label>
                <label class="radio-inline">
                    <input type="checkbox" name="RoomFacility[]" value="空调">空调
                </label>
                <label class="radio-inline">
                    <input type="checkbox" name="RoomFacility[]" value="WIFI">WIFI
                </label>
                <label class="radio-inline">
                    <input type="checkbox" name="RoomFacility[]" value="电脑">电脑
                </label>
                <br>
                <label class="radio-inline">
                    <input type="checkbox" name="RoomFacility[]" value="吹风机">吹风机
                </label>
                <label class="radio-inline">
                    <input type="checkbox" name="RoomFacility[]" value="电视">电视
                </label>
                <label class="radio-inline">
                    <input type="checkbox" name="RoomFacility[]" value="电热水壶">电热水壶
                </label>
                <label class="radio-inline">
                    <input type="checkbox" name="RoomFacility[]" value="免费停车">免费停车
                </label>
                <br>
                <label class="radio-inline">
                    <input type="checkbox" name="RoomFacility[]" value="电梯">电梯
                </label>
                <label class="radio-inline">
                    <input type="checkbox" name="RoomFacility[]" value="行李寄存">行李寄存
                </label>
                <label class="radio-inline">
                    <input type="checkbox" name="RoomFacility[]" value="洗衣服务">洗衣服务
                </label>
            </li>
        </ul>

        <ul style="width:100%">
            <li>
                <label>房间数量：</label>

                <input type="text" class="form-control" name="RoomCount" style="width:300px" placeholder="请输入房间数量">
            </li>

            <li>
                <label>房间实价：</label>

                <input type="text" class="form-control" name="RoomPrice" style="width:300px" placeholder="请输入房间实价">
            </li>
        </ul>
        <ul style="width:100%">

            <li>
                <label>是否有早餐：</label>
                <br />
                <div>
                    <input type="radio" name="Boolbreakfast" value="true">是
                    <input type="radio" name="Boolbreakfast" value="false">否
                </div>
            </li>
            <li style="margin-left:245px">
                <label>酒店名称：</label>
                @*@Html.DropDownList("HotelID", new System.Web.Mvc.SelectList(ViewBag.HotelName, "Value", "Text"), "==请选择班级==", new { @class = "form-control", @style = "height:35px;width:300px" })*@
                @*<input type="text" name="HotelID" class="form-control" style="width:300px" placeholder="请输入酒店id">*@
                <select name="HotelID" class="form-control" style="height:35px;width:300px">
                    @foreach (var item in ViewBag.HotelName)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </li>
        </ul>
        <ul style="width:100%">
            <li>
                <label>房型：</label>

                <select name="RoomTypeID" class="form-control" style="height:35px;width:300px">
                    @foreach (var item in ViewBag.RoomType)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </li>
            <li>
                <label>房间原价：</label>

                <input type="text" name="PrimeCost" class="form-control" style="width:300px" placeholder="请输入房间原价">
            </li>
        </ul>
    </div>
    <div style="width:100%">
        <input type="submit" value="提交" style="margin:100px;height:30px;width:100px;background-color:aqua;border:none;font-weight:900;margin-left:-50px" />
    </div>
</form>