@{
    ViewBag.Title = "Permission";
}
@{
    var usermessages = Model as List<SmartRental.Models.UserMessage>;
}
<style type="text/css">
    #mytable {
        border-collapse: collapse;
        margin: 0 auto;
        text-align: center;
    }

        #mytable td, #mytable th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 30px;
        }

        #mytable thead th {
            background-color: #CCE8EB;
            width: 100px;
        }

        #mytable th {
            text-align: center;
        }

        #mytable tr:nth-child(odd) {
            background: #fff;
        }

        #mytable tr:nth-child(even) {
            background: #F5FAFA;
        }
</style>
<h2>权限管理</h2>
<form action="/YAdminwo/Permission" method="post" style="float:left;">
    <input type="text" id="username" name="username" style="height:30px;" placeholder="电话查询" />
    <input type="submit" value="搜索" sstyle="margin-left:30px;" class="btn btn-primary" />
</form>
<form action="/YAdminwo/Permission" style="margin-left:250px;">
    <input type="submit" value="重置" class="btn btn-primary" />
</form>
@*<input value="备份" type="button" onclick="bei()" class="btn btn-primary" /><input value="还原" type="button" class="btn btn-primary" />*@

<div>
    <table class="table table-bordered table-hover table-striped imagetable" id="mytable" style="background-image:url('~/images/HotelPhoto/09b58f6b-455e-476e-8356-b3a7df1f16781-5.jpg');margin-top:10px;">
        <thead>
            <tr>
                <th>用户名</th>
                <th>用户电话</th>
                <th>用户状态</th>
                <th>用户权限</th>
                <th>注册时间</th>
                <th>状态操作</th>
                <th>权限操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in usermessages)
            {
                <tr>
                    <td>
                        @if (item.UserName != null)
                        {
                            <span>@item.UserName</span>
                        }
                        else
                        {
                            <span>未填写</span>
                        }
                    </td>
                    <td>@item.UserPhone</td>
                    <td>@(item.User_status==true?"正常":"已冻结")</td>
                    <td>@item.UserGrade</td>
                    <td>@string.Format("{0:f}", item.Registration_time) </td>
                    <td>
                        @if (item.User_status == true)
                        {
                            <input style="border-radius:50%;border:none;background-color:royalblue;outline:none;color:black" onclick="Pass(@item.UserID, this.value)" type="button" value="冻结" />
                        }
                        else
                        {
                            <input style="border:none;background-color:red;outline:none;color:black;border-radius:30%;" onclick="Pass(@item.UserID,this.value)" type="button" value="解封" />
                        }
                    </td>
                    <td>
                        @if (item.UserGrade == "用户")
                        {
                            <select id="aaa" style="border:0;outline:none;font-size:15px;background-color:transparent" name="OrderState" onchange="Operate(@item.UserID,this.options[this.options.selectedIndex].value,@item.UserPhone)">

                                <option value="用户" selected="selected" style="background-color:#EEEEEE">用户</option>
                                <option value="管理员">管理</option>
                                <option value="超级管理员">超管</option>
                            </select>
                        }
                        else if (item.UserGrade == "管理员")
                        {
                            if (item.UserPhone == "leo")
                            {
                                <span>无法修改</span>
                            }
                            else
                            {
                                <select id="aaa" style="border:0;outline:none;font-size:15px;background-color:transparent" name="OrderState" onchange="Operate(@item.UserID,this.options[this.options.selectedIndex].value,@item.UserPhone)">


                                    <option value="管理员" style="background-color:#EEEEEE" selected="selected"> 管理</option>
                                    <option value="用户">用户</option>
                                    <option value="超级管理员">超管</option>
                                </select>
                            }
                        }
                        else if (item.UserGrade == "超级管理员")
                        {
                            if (item.UserPhone == "admin")
                            {
                                <span>无法修改</span>
                            }
                            else
                            {
                                <select id="aaa" style="border:0;outline:none;font-size:15px;background-color:transparent" name="OrderState" onchange="Operate(@item.UserID,this.options[this.options.selectedIndex].value,@item.UserPhone)">
                                    <option value="超级管理员" selected="selected" style="background-color:#EEEEEE">超管</option>
                                    <option value="用户">用户</option>
                                    <option value="管理员">管理</option>

                                </select>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        function Pass(id, kk) {

            if (confirm('确定' + kk + '吗？')) {
                jQuery.ajax({
                    url: '/YAdminwo/Permission',
                    type: "post",
                    data: { "UserID": id },
                    success: function (data) {
                        history.go(0)
                    }
                })
            }
        }

        //function bei() {

        //    if (confirm('确定备份所有数据吗？')) {
        //        jQuery.ajax({
        //            url: '/YAdminwo/BakReductSql',
        //            type: "get",
        //            data: {
        //                "cmdText":"backup database SmartSystem to disk='E:\\xiangmu\\wo\\SmartRental\\common'",
        //                isBak: true
        //            },
        //            success: function (data) {
        //                history.go(0)
        //            }
        //        })
        //    }
        //}
        function Operate(id, e, phone) {
            if (e == "用户") {
                jQuery.ajax({
                    url: '/YAdminwo/Permission',
                    type: "post",
                    data: { "UserID": id, "UserGrade": e, "UserPhone": phone },
                    success: function (data) {
                        history.go(0)
                    }
                })
            } else {
                if (confirm('确定要升级为' + e + '吗？')) {
                    jQuery.ajax({
                        url: '/YAdminwo/Permission',
                        type: "post",
                        data: { "UserID": id, "UserGrade": e, "UserPhone": phone },
                        success: function (data) {
                            history.go(0)
                        }
                    })
                }
            }
        }
                    //function Select() {
                    //    var username = document.getElementById("username").value;
                    //    jQuery.ajax({
                    //            url: '/YAdminwo/Permission',
                    //            type: "get",
                    //            data: { "username": username },
                    //            success: function (data) {
                    //                history.go(0)
                    //            }
                    //        })
                    //}
    </script>
}

