
    <nav class="navbar-default navbar-static-side" role="navigation">
           @if (Session["SuperAdmin"] != null)
        {
            <div class="sidebar-collapse" style="position: fixed;width: inherit;">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header" style="padding: 0; padding-top: 15px;padding-bottom: 15px; background: rgb(255,255,255);">
                        <div class="dropdown profile-element">
                            <img src="~/Content/patterns/heade.png" />
                        </div>
                        <div class="logo-element" style="overflow: hidden;">
                            <img src="~/Content/patterns/heade.png" />
                        </div>
                    </li>
                    <li class="@Html.IsSelected(controller: "Home", action: "Main")">

                        <a href="@Url.Action("Main", "Home")"><i class="fa fa-diamond"></i> <span class="nav-label">酒店管理</span> <span class="label label-primary float-right">Main</span></a>
                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Hotel", cssClass: "in")">
                            <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Hotel")">酒店详情</a></li>
                            <li class="@Html.IsSelected(action: "Dashboard_2")"><a href="@Url.Action("Dashboard_2", "Dashboards")">Dashboard v.2</a></li>
                            <li class="@Html.IsSelected(action: "Dashboard_3")"><a href="@Url.Action("Dashboard_3", "Dashboards")">Dashboard v.3</a></li>
                            <li class="@Html.IsSelected(action: "Dashboard_4_1")"><a href="@Url.Action("Dashboard_4_1", "Dashboards")">Dashboard v.4</a></li>
                            <li class="@Html.IsSelected(action: "Dashboard_5")"><a href="@Url.Action("Dashboard_5", "Dashboards")">Dashboard v.5</a></li>
                        </ul>
                    </li>
                    <li class="@Html.IsSelected(controller: "Home", action: "Minor")">
                        <a href="@Url.Action("Minor", "Home")"><i class="fa fa-server"></i> <span class="nav-label">用户管理</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "Home", action: "Minor")">
                        <a href="@Url.Action("Minor", "Home")"><i class="fa fa-server"></i> <span class="nav-label">信息管理</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "Home", action: "Minor")">
                        <a href="@Url.Action("Minor", "Home")"><i class="fa fa-server"></i> <span class="nav-label">订单管理</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "Home", action: "Minor")">
                        <a href="@Url.Action("Minor", "Home")"><i class="fa fa-server"></i> <span class="nav-label">报表管理</span></a>
                    </li>

                </ul>
            </div>
        }
        else if (Session["GeneralManager"] != null)
        {

        <div class="sidebar-collapse" style="position: fixed;width: inherit;">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header" style="padding: 0; padding-top: 15px;padding-bottom: 15px; background: rgb(255,255,255);">
                    <div class="dropdown profile-element">
                        <img src="~/Content/patterns/heade.png" />
                    </div>
                    <div class="logo-element" style="overflow: hidden;">
                        <img src="~/Content/patterns/heade.png" />
                    </div>
                </li>
                <li class="@Html.IsSelected(controller: "Home", action: "Main")">
                    <a href="@Url.Action("Main", "Home")"><i class="fa fa-diamond"></i> <span class="nav-label">房态图</span> <span class="label label-primary float-right">Main</span></a>

                </li>
                <li class="@Html.IsSelected(controller: "Home", action: "Minor")">
                    <a href="@Url.Action("Minor", "Home")"><i class="fa fa-server"></i> <span class="nav-label">远期房态</span></a>
                </li>
                <li class="@Html.IsSelected(controller: "Home", action: "Minor")">
                    <a href="@Url.Action("Minor", "Home")"><i class="fa fa-server"></i> <span class="nav-label">订单</span></a>
                </li>
                <li class="@Html.IsSelected(controller: "Home", action: "Minor")">
                    <a href="@Url.Action("Minor", "Home")"><i class="fa fa-server"></i> <span class="nav-label">房单</span></a>
                </li>
                <li class="@Html.IsSelected(controller: "Home", action: "Minor")">
                    <a href="@Url.Action("Minor", "Home")"><i class="fa fa-server"></i> <span class="nav-label">报表</span></a>
                </li>

            </ul>
        </div>
         }
    </nav>