@section scripts{

    @Scripts.Render("~/bundles/jquery")
}
    <nav class="navbar-default navbar-static-side" role="navigation">
        @if (Session["SuperAdmin"] != null)
        {
            <div class="sidebar-collapse" style="position: fixed;width: inherit;">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header" style="padding: 0; padding-top: 15px;padding-bottom: 15px; background: rgb(255,255,255);">
                        <div class="dropdown profile-element">
                            <img src="~/Content/patterns/heade.png" />
                        </div>
                        <div class="logo-element" style="overflow: hidden;">
                            <img src="~/Content/patterns/heade.png" />
                        </div>
                    </li>
                    <li class="@Html.IsSelected(controller: "Hotel", action: "Index")">

                        <a href="@Url.Action("Index", "Hotel")"><i class="fa fa-diamond"></i> <span class="nav-label">酒店管理</span></a>
                       
                    </li>
                    <li class="@Html.IsSelected(controller: "YAdminwo", action: "Permission")">
                        <a href="@Url.Action("Permission", "YAdminwo")"><i class="fa fa-server"></i> <span class="nav-label">权限管理</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "YAdminwo", action: "AdminOrder")">
                        <a href="@Url.Action("AdminOrder", "YAdminwo")"><i class="fa fa-server"></i> <span class="nav-label">订单管理</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "YAdminwo", action: "Recommend")">
                        <a href="@Url.Action("Recommend", "YAdminwo")"><i class="fa fa-server"></i> <span class="nav-label">界面管理</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "YAdminwo", action: "AdminwoEchart")">
                        <a href="@Url.Action("AdminwoEchart", "YAdminwo")"><i class="fa fa-server"></i> <span class="nav-label">蜗牛报表</span></a>
                    </li>

                </ul>
            </div>
        }
        else if (Session["GeneralManager"] != null)
        {

            <div class="sidebar-collapse" style="position: fixed;width: inherit;">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header" style="padding: 0; padding-top: 15px;padding-bottom: 15px; background: rgb(255,255,255);">
                        <div class="dropdown profile-element">
                            <img src="~/Content/patterns/heade.png" />
                        </div>
                        <div class="logo-element" style="overflow: hidden;">
                            <img src="~/Content/patterns/heade.png" />
                        </div>
                    </li>
                    <li class="@Html.IsSelected(controller: "GHotelHome", action: "MainIndex")">
                        <a href="@Url.Action("MainIndex", "GHotelHome")"><i class="fa fa-diamond"></i> <span class="nav-label">酒店信息</span> <span class="label label-primary float-right">Main</span></a>

                    </li>
                    <li class="@Html.IsSelected(controller: "GHotelHome", action: "Index")">
                        <a href="@Url.Action("RoomIndex", "GHotelHome")"><i class="fa fa-server"></i> <span class="nav-label">房间管理</span></a>
                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Hotel", cssClass: "in")">
                            <li class="@Html.IsSelected(action: "RoomIndex")"><a href="@Url.Action("RoomIndex", "GHotelHome")">酒店房间</a></li>
                            <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "GHotelHome")">添加房间</a></li>                          
                        </ul>
                    </li>
                    <li class="@Html.IsSelected(controller: "GHotelHome", action: "HotelOrder")">
                        <a href="@Url.Action("HotelOrder", "GHotelHome")"><i class="fa fa-server"></i> <span class="nav-label">订单管理</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "GHotelHome", action: "HotelEchart")">
                        <a href="@Url.Action("HotelEchart", "GHotelHome")"><i class="fa fa-server"></i> <span class="nav-label">酒店报表</span></a>
                    </li>
                   

                </ul>
            </div>
        }
    </nav>