@using SmartRental.Models
@{
    HotelManag hotelrmes = Model as HotelManag;
    var roomph = ViewBag.HotelPhotoname;
}
<style>
    li {
        list-style: none;
        margin-top: 8px;
    }
</style>
<h4 style="margin-top:-20px">酒店信息</h4>
@using (Html.BeginForm())
{
    <div style="height:22px;border-bottom:1px solid;line-height:22px;text-align:center;">
        @Html.Label("HotelName", hotelrmes.HotelName, new { style = "font-weight:900;font-size:18px" })
    </div>
    <div style="height:180px;">
        <span style="font-size:14px">酒店图片</span>
        <div style="height:150px;width:865px; margin:0 auto">
            @if (roomph.Hotelphoto1 != null)
            {
                <img src="@roomph.Hotelphoto1" style="height:150px;width:120px;" />
            }
            @if (roomph.Hotelphoto2 != null)
            {
                <img src="@roomph.Hotelphoto2" style="height:150px;width:120px;" />
            }
            @if (roomph.Hotelphoto3 != null)
            {
                <img src="@roomph.Hotelphoto3" style="height:150px;width:120px;" />
            }
            @if (roomph.Hotelphoto4 != null)
            {
                <img src="@roomph.Hotelphoto4" style="height:150px;width:120px;" />
            }
            @if (roomph.Hotelphoto5 != null)
            {
                <img src="@roomph.Hotelphoto5" style="height:150px;width:120px;" />
            }
            @if (roomph.Hotelphoto6 != null)
            {
                <img src="@roomph.Hotelphoto6" style="height:150px;width:120px;" />
            }
            @if (roomph.Hotelphoto7 != null)
            {
                <img src="@roomph.Hotelphoto7" style="height:150px;width:120px;" />
            }
        </div>
        <hr style="width:1075px;margin-left:210px;background-color:black;height:0.5px" />
    </div>
    <div style="height:300px;width:1000px;margin-left:170px;font-weight:500;margin-top:15px">
        <ul>
            <li>姓名:  @Html.Label("HotelBoss", hotelrmes.HotelBoss, new { style = "margin-left:10px;" })<a style="float:right;margin-right:-100px;font-size:16px;" href="/Hotel/Index">返回〉</a></li>
            <li>电话:  @Html.Label("HotelPhone", hotelrmes.HotelPhone, new { style = "margin-left:10px;" })</li>

            <li>酒店城区:  @Html.Label("HotelCity", hotelrmes.HotelCity, new { style = "margin-left:10px;" })</li>
            <li>详细地址:  @Html.Label("AddressDetails", hotelrmes.AddressDetails, new { style = "margin-left:10px;" })</li>
            <li>酒店类型:  @Html.Label("HotelType", hotelrmes.HotelType, new { style = "margin-left:10px;" }) </li>
            <li>上市时间:   @Html.Label("HotelOpentime", hotelrmes.HotelOpentime.Value.ToLongDateString().ToString(), new { style = "margin-left:10px;" })</li>
            <li>酒店简介:  @Html.Label("HotelIntro", hotelrmes.HotelIntro)</li>
            <li>酒店规则:   @Html.Label("HotelRule", hotelrmes.HotelRule, new { style = "margin-left:10px;" })</li>
            <li>酒店设施:   @Html.Label("HotelFacility", hotelrmes.HotelFacility, new { style = "margin-left:10px;" })</li>

        </ul>

    </div>

}
